Question 1 : Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
# Ans :
s="PWSKILLS"
l=[1,12,55,1.66,"abc"]
f=5.66
t=(1,22,6.8,'abc')

Question 2 : Q2. Given are some following variables containing data:
var1 = ‘ ‘
var2 = ‘[ DS , ML , Python]’
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var4 = 1.
What will be the data type of the above given variable.

In [15]:
var1=' '
type(var1) #str
var2='[DS,ML,Python]' #str
type (var2)
var3=['DS','ML','python'] #List
type(var3)
var4=1. # Float
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [16]:
# Ans:
# / ---> This is used for division purpose and returns float value
10/5

2.0

In [17]:
# % --> This is used to return reminder of the division
10%5

0

In [18]:
# // --> It gives the result of division and round it to the nearer whole number
10//3

3

In [5]:
# ** --> This is exponent symbol gives power
2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
#ANS :

list=[1,44,3.6,'aaa',8888,98,6+5j,33,6.77,0]
for i in range(10):
    print(list[i])
    print(type(list[i]))

1
<class 'int'>
44
<class 'int'>
3.6
<class 'float'>
aaa
<class 'str'>
8888
<class 'int'>
98
<class 'int'>
(6+5j)
<class 'complex'>
33
<class 'int'>
6.77
<class 'float'>
0
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:

A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0

while A % B == 0:
    A = A // B  # Update A by dividing it by B
    count += 1
if A == 1:
    print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}. The division leaves a remainder.")

Enter the number A:  34
Enter the number B:  2

17 is not purely divisible by 2. The division leaves a remainder.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
lis=[1,2,3,4,5,6,7,8,9,90,88,77,66,59,54,23,24,12,22,33,55,76,47,39,78]
for i in range(24):
    if lis[i]%3==0 :
        print(f"{lis[i]} is divided by 3")
    else:
        print(f"{lis[i]} Is Not Divded by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans :
      Mutable data type are the types of data in which we can make changes like update , append or remove the elements for example list,dictionary 
      Immutable data types are the type of data in which we can not make any changes for example string , tuple are immutable data type

In [9]:
#Mutable
l1=[1,4,55]
l1

[1, 4, 55]

In [11]:
l1[2]=6
l1

[1, 4, 6]

In [12]:
string="NRP"
string

'NRP'

In [13]:
string[1]="s"
# its not assigning cause string is immutable

TypeError: 'str' object does not support item assignment