# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. "DataBse" is a collection of a data. There are Two types of database -
    1) SQL
    2) NoSQL
    SQL Stands for structured Query Language While NOSQL stands for No Structured Query language.
    SQL stores only structured data in it but NoSQL can store both structured and unstructured data..
    SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
    SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.
    SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans.  DDL stands for data defination language.. DDL used for the define the structure of the database 
DDL commands are used to define, modify, and manage the structure of database objects

1) CREATE : Create command is used to create a database or create a table 
    e.g Create Table table_name;
        create Database db_name ;
        
        
        
2) DROP : Drop command is used to delete the structure of table 
    e.g DROP TABLE table_name;


3) ALTER : Alter command is used to modify the table 
     e.g ALTER TABLE Employees
         ADD Email VARCHAR(100);
         
4) TRUNCATE : TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
     e.g TRUNCATE TABLE table_name ;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) 
that deals with the manipulation of data stored in a database. The primary operations in DML are 
INSERT, UPDATE, and DELETE.

1) INSERT: The INSERT statement is used to add new rows of data into a table.
    e.g INSERT INTO sample_tb values(id INT,name VARCHAR(20));

2) UPDATE : The UPDATE statement is used to modify existing data in a table.
    e.g UPDATE table_name
        SET column1 = value1, column2 = value2, ...
        WHERE condition;
        
3) DELETE: The DELETE statement is used to remove rows from a table based on a specified condition.
    e.g DELETE FROM table_name
        WHERE condition;

# Q4. What is DQL? Explain SELECT with an example.

Ans : DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used for querying or retrieving data from a database. The primary operation in DQL is the SELECT statement.

1) SELECT : The SELECT statment is used to retrive or fetch the data from the database 

   e.g SELECT column1, column2, ...
       FROM table_name
       WHERE condition;

# Q5. Explain Primary Key and Foreign Key.

Ans. 
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table. 
The primary key must contain unique values, and it cannot contain null values. The primary key is used to enforce 
the entity integrity of a relational database by ensuring that each record in a table can be uniquely identified.

e.g 
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    student_name VARCHAR(50),
    date_of_birth DATE
);

Foreign Key:
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a link between the two tables, enforcing referential integrity. In simple terms, a foreign key in one table refers to the primary key in another table, creating a relationship between the two.


e.g 
CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(50)
);

CREATE TABLE student_courses (
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans. 

CODE:

import mysql.connector

mydb=mysql.connector.connect(
host="localhost",
user="nrp"
password='123'
)

mycursor=connection.cursor()
mycursor.execute("query")
mydb.close()

cursor() method:
The cursor() method is used to create a cursor object. A cursor is an object that allows you to interact with
the MySQL database by executing SQL queries and fetching results.


execute() method:
The execute() method is used to execute a SQL query. You can pass the query as a string to this method. If the query has parameters, you can provide them as a tuple as the second argument to the execute() method.

# Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. The order of execution of SQL clauses in an SQL query generally follows a specific sequence. The typical order is as follows:

1) SELECT: The SELECT clause is used to specify the columns that you want to retrieve from one or more tables.

2) FROM: The FROM clause indicates the table or tables from which to retrieve the data specified in the SELECT clause.

3) WHERE: The WHERE clause is used to filter the rows returned by the SELECT and FROM clauses based on a specified condition.

4) GROUP BY: The GROUP BY clause is used to group rows that have the same values in specified columns into summary rows.

5) HAVING: The HAVING clause is used to filter the results of a GROUP BY clause based on a specified condition.

6) ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It is typically the last clause in the query.
 
    Here is a basic example to illustrate the order of execution:

e.g 
SELECT column1, column2
FROM table_name
WHERE condition
GROUP BY column1
HAVING aggregate_function(column2) > value
ORDER BY column1;